@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body{    
    height: 100vh;    
    margin: 0;
    text-align: center;
    color: indigo;
    background: linear-gradient(to right,#20DED3,#F6FBA2);
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    color: indigo;
    margin-top: 150px;
}

header h1{
    font-size: 3em;
}

header form {
    padding-top: 30px;
}

section{
    margin-top: 150px;
    
}

#card{
    width: 500px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background: orange;
    height: 10vh;
    padding: 30px 0;
    border: 1px solid orange;    
}

#weather>h1{
    margin: 0;
    font-size: 3em;
}

#location{
    color: indigo;
    height: 7vh;
    padding: 20px 10px 30px 10px;
    background: white;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


#city{
    margin: 0;
    font-size: 2em;
}

#state{
    margin-top: 0;  
    font-weight: 700;  
}

#info{
    display: flex;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 600;
}

#info>*{
    border-right: 1px solid #e6e6e6;
    padding: 20px;
    flex: 1;
}

#info>*:last-child{
    border: none;
}

form{
    position: relative;
    width: 500px;
    max-width: 100%;
}

form input {
    border: 0;
    border-radius: 50px;
    font-size: 16px;
    padding: 15px 30px;
    width: 71%;
    outline: none;
}

form button {
   font-size: 20px;
}

button{
    cursor: pointer;
}

button:active{
    transform: scale(0.8);
}

form>button{
    background-color: indigo;
    border: 0;
    border-radius: 50px;
    padding: 13px 30px;
    color: #fff;
    right: 2px;
    top: 2px;
}

#state {
    padding-top: 15px;
}

#weather small {
    padding-top: 12px;
    font-size: 16px;
    font-weight: bolder;
}



@media screen and (max-width: 768px) {
    form{
        display: flex;        
        width: 100%;
    }    

    #card{
        width: 100%;
    }
    
}